<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="/create.css" />
</head>
<body>
    <h1>ENTER ITEM IN INVENTORY</h1>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="ENTER ITEM NAME"><br>
        <textarea name="content" placeholder="ENTER NEW INVENTORY QUANTITY"></textarea>
        <button>SUBMIT</button>
    </form>
</body>
</html>
