*{
    margin: 0;
    padding: 0;
    background-image: url("j.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: red;
    text-align: center;
    margin:20px;
    padding:5px;
    background-color: rgb(2, 2, 39);
    font-size: 90px;
}
form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
input{
    background-color: aliceblue;
    color: black;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    display: block;
    width:250px;
    height:30px;
    font-size: large;
}
textarea{
    background-color: aliceblue;
    color:rgb(0, 0, 0);
    height: max-content;
    width:60%;
    padding:20px;
    min-height:200px;
    font-size: 20px ;
    min-height: 300px;
    border-radius: 30px;
}
button{
    display: inline-block;
    border: 1px solid white;
    padding: 7px;
    background-color: rgb(42, 37, 37);
    text-decoration: none;
    color: wheat;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 15px;
    width: 150px;
    min-height: 50px;
    margin:20px;
    padding:5px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background-color: white;
    color:black;
}